body,
html {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  margin: auto;
  left: 25%;
  width: 50%;
  height: 70px;
  color: black;
  border: 5px solid black;
  position: fixed;
  padding: 10px;
}

h1 {
  position: absolute;
  float: left;
  margin-left: 2%;
  margin-top: 20px;
  font-family: 'Bangers', cursive;
  color: black;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Bangers', cursive;
  font-size: 110%;
}

a:hover {
  background-color: dimgray;
  transition: 0.5s;
}

.city {
  display: block;
  margin: auto;
  height: 18%;
  width: 18%;
  border: 3px solid black;
  padding: 10px;
  box-shadow: 5px 10px 8px darkgray;
}

.hi {
  font-family: 'Bangers', cursive;
  font-size: 250%;
  text-align: center;
}

.hello {
  font-family: 'Poppins', sans-serif;
  font-size: 115%;
  text-align: center;
  margin-left: 1in;
  margin-right: 1in;
  border: 3px solid black;
  padding: 10px;
  box-shadow: 5px 10px 8px darkgray;
}

.hello1 {
  font-family: 'Poppins', sans-serif;
  font-size: 115%;
  text-align: center;
  margin-left: 2.5in;
  margin-right: 2.5in;
  border: 3px solid black;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 10px 8px darkgray; 
}

.hello2 {
  font-family: 'Poppins', sans-serif;
  font-size: 115%;
  text-align: center;
  margin-left: 4in;
  margin-right: 4in;
  border: 3px solid black;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 10px 8px darkgray;  
}
