body,
html {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: black;
}

h1 {
  position: absolute;
  float: left;
  margin-left: 2%;
  margin-top: 20px;
  font-family: 'Bangers', cursive;
  color: white;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: 'Bangers', cursive;
  font-size: 90%;
}

a:hover {
  color: #fff;
  transition: 1s;
}

#city {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 18%;
  width: 18%;
}

.hi {
  font-family: 'Bangers', cursive;
  font-size: 250%;
  text-align: center;
}

.hello {
  font-family: 'Poppins', sans-serif;
  font-size: 115%;
  text-align: center;
  margin-left: 1in;
  margin-right: 1in;
}
